body {
    margin: 0;
    font-family: 'Arial', sans-serif; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; 
}

.page-heading {
    text-align: center;
    font-size: 1.75em; 
    margin-top: 30px;
    margin-bottom: 50px;  */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid black;
    position: relative;
    background-color: #f0f0f0;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border: 1px solid black;
    font-size: 125%;
}
#title1{
    background-color: pink;
}
#title2{
    background-color: red;
}
#title3{
    background-color: yellow;
}

/* Media Queries for Responsive Design */

/* Desktop View */
@media (min-width: 992px) {
    .section {
        width: 31.33%;
        margin-right: 2%;
    }

    .section:nth-child(3n) {
        margin-right: 0;
    }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 48%;
        margin-right: 2%;
    }
     
    #section3 {
        width: 100%;
       
    }
}
